body{
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-variant:  small-caps;
    font-feature-settings: "smcp", "c2sc";
    font-size: x-large;
    padding: 20px;
}
h{
    color: rgb(241, 5, 44);
    font-size: 36px;
    border-inline: 3px solid;
    border-color: rgb(43, 223, 67);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(5, 241, 25);
}
p{
    font-size: 18px;
    line-height: 1.6;
}
.cat_image_1{
    border: 3px solid;
    border-radius: 10px ;
    border-color: red;
    box-shadow: 0 4px  10px rgb(221, 15, 42);
}
.lasagna{
    border: 3px solid;
    border-radius: 10px ;
    border-color: rgb(232, 235, 62);
    box-shadow: 0 5px  10px rgb(236, 175, 43);
}
.cats{
    border: 3px solid;
    border-radius: 10px ;
    border-color: rgb(43, 236, 175);
    box-shadow: 0 5px  10px rgb(43, 175, 236);
}
.container {
    max-width:800px;
    margin: 0 auto;
    padding: 24px;
    background-color: #020617;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-flow: column wrap;
    font-size: 32px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    border-bottom: px solid rgba(211, 86, 36, 0.83); 
    position: relative;
    padding: 28px 36px;
    gap: 12px;
}
.header h1 {
    border-block: 2px solid;
    border-width: 3px;
    padding: 5px;
    padding-bottom: 7px;
    font-size: 68px;
    letter-spacing: 2px;
    

    
}

.nav {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 28px;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    opacity: 0.85;
    
    position: relative; /*used to tell that the positioning of the empty element created in next styling step should be realtive to the elements*/
}

.nav a:hover {
    color: rgb(240, 155, 43);
    opacity: 1;
}
.nav a::after {  /*pseudo-element which creates an empty element at end of each <a>.*/
    content: ""; /*Without content, the pseudo-element does not exist.*/
    position:  absolute; /*positions the created element(wrt to <a> elements in this case as defined in above steps)*/
    width: 0; /*puts the starting width to zero for animation purpose*/
    height: 2px; /*sets the height of the animated line*/
    bottom: -6px; /*moves the line slightly below the elemets(if its positive then it moves up towards the elements)*/
    left: 50%; /*starts the created element from the left side*/
    background-color: rgb(240, 155, 43);
    transform: translateX(-50%);
    transition: all 0.3s ease; /*when "width" changes it smoothens the transition*/
}
.nav a:hover:after {
    width: 100%; /*used for transition*/
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    margin-bottom: 4px;
    
}
.hero {
    padding: 60px 30px;
    display: flex;
    justify-content: center;
}
.hero-text {
    max-width: 600px;
    text-align: center;
}
.hero-text h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

@media (max-width: 468px) {
    .header {
        padding: 20px;
        margin-bottom: 20px;
    }
    .hero {
        margin-top: 20px;
    }
    .header h1 {
        font-size: 28px;
    }
    .nav {
        flex-direction: column;
        gap: 12px;
    }
    body {
        font-size: 16px;
    }
    p {
        font-size: 15px;
        line-height: 1.6;
    }
}