*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-variant:  small-caps;
    font-feature-settings: "smcp", "c2sc";
    font-size: x-large;
    padding: 20px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h{
    color: rgb(241, 5, 44);
    font-size: 36px;
    border-inline: 3px solid;
    border-color: rgb(43, 223, 67);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(5, 241, 25);
}
p{
    font-size: 18px;
    line-height: 1.6;
}
.cat_image_1{
    border: 3px solid;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px ;
    border-color: red;
    box-shadow: 0 4px  10px rgb(221, 15, 42);
    margin-left: 32px;
}
.lasagna{
    border: 3px solid;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px ;
    border-color: rgb(232, 235, 62);
    box-shadow: 0 5px  10px rgb(236, 175, 43);
    box-shadow: 0 5px 10px rgb(232, 235, 62);
}
.cats{
    border: 3px solid;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px ;
    border-color: rgb(43, 236, 175);
    box-shadow: 0 5px  10px rgb(43, 236, 175);
}
figure {
    margin: 0;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}
figure img.lasagna, img.cat_image_1, img.cats {
    width: 100%;
    border-radius: 12px;    
}
.container {
    max-width:800px;
    margin: 0 auto;
    padding: 24px;
    background-color: #020617;
    border-radius: 8px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-flow: column wrap;
    font-size: 32px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border-bottom: px solid rgba(211, 86, 36, 0.83); 
    position: relative;
    padding: 0 20px;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    
}
.header h1 {
    border-block: 2px solid;
    border-width: 3px;
    padding: 5px;
    padding-bottom: 7px;
    font-size: 68px;
    letter-spacing: 2px;
    text-align: center;   
}
.header p {
    text-align: center;
}

.nav {
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 28px;
    letter-spacing: 2px;
    
}
.nav a {
    text-decoration: none;
    color: #dcdcdc;
    font-weight: 400;
    position: relative;
    opacity: 0.85;
    
    position: relative; /*used to tell that the positioning of the empty element created in next styling step should be realtive to the elements*/
}

.nav a:hover {
    color: rgb(240, 155, 43);
    opacity: 1;
}
.nav a::after {  /*pseudo-element which creates an empty element at end of each <a>.*/
    content: ""; /*Without content, the pseudo-element does not exist.*/
    position:  absolute; /*positions the created element(wrt to <a> elements in this case as defined in above steps)*/
    width: 0; /*puts the starting width to zero for animation purpose*/
    height: 2px; /*sets the height of the animated line*/
    bottom: -6px; /*moves the line slightly below the elemets(if its positive then it moves up towards the elements)*/
    left: 50%; /*starts the created element from the left side*/
    background-color: rgb(240, 155, 43);
    transform: translateX(-50%);
    transition: all 0.3s ease; /*when "width" changes it smoothens the transition*/
}
.nav a:hover:after {
    width: 100%; /*used for transition*/
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    margin-bottom: 4px;
    
}
.header p {
    margin-top: 0px;
}
.hero {
    padding: 60px 30px;
    display: flex;
    justify-content: center;
}
.hero-text {
    max-width: 600px;
    text-align: center;
}
.hero-text h2 {
    font-size: 42px;
    margin-bottom: 12px;
    margin-top: 10px;
    font-weight: 700;
    
}

.features {
    padding:   0 32px;
    text-align: center;
}
.features-title {
    font-size: 32px;
    margin-bottom: 56px;
    font-weight: 600;
    text-align: center;
    position: relative;
    
}
.features-title::after {
    content: "";
    display: block;
    width: 48px;
    height: 3px;
    background-color: currentColor;
    margin: 8px auto 0;

}
.cards {
    display: flex;
    gap: 24px;
    padding-bottom: 50px;
    justify-content: center; /*it there is extra space inside .cards then it distributes it so the cards sit in the center*/
    
}
.card:hover {
    transform: translateY(-10px);
}
.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;  
    text-align: center;  
    padding: 24px;
    max-width: 280px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    background-color:  rgba(255, 255, 255, 0.05);
    transition: transform 0.2s ease;
}
.card h3 {
    font-size: 24px;
}
.card p {
    font-size: 20px;
    line-height: 1.6;
    opacity: 85%;
}
.about {
    padding: 100px 32px;
    padding-bottom: 120px
    
}
.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}
.about-text {
    flex:1;
    text-align: center;
}
.about-image {
    flex: 1;
}
.about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 12px;
}


.cta {
    padding:  0 0 30px 0;
    margin: 80px 0;
    text-align: center;
}
.cta-container {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.cta-title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}
.cta-title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}
.cta-button {
    display: inline-block;
    margin-top: 15px;
    padding: 14px 36px;

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    

    color: #F5F7FA;
    text-decoration: none;

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 999px;

    transition: all 0.25s ease;        
}
.cta-button:hover, .cta-button:focus {
    background: rgba(255, 255, 255, 0.08);
    border-color: #22C55E;
    
    transform: translateY(-2px);
    
}


.progress {
    padding: 100px 20px;
}
.progress-container {
    max-width: 1000px;
    margin: 0 auto;
}
.progress-title {
    font-size: 34px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 74px;
    opacity: 0.9;
}
.progress-cards {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.progress-card {
    padding: 28px 28px 32px;
    width: 100%;
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.02);
    transition: all 0.25 ease;
    text-align: center;
}
.progress-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    letter-spacing: 0.4;
}
.progress-card p {
    font-size: 20px;
    line-height: 1.5;
    opacity: .85;
    margin-bottom: 12px;
}
.progress-card:hover {
    background-color: rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.04);
}


.direction {
    padding: 120px 20px;
}
.direction-container {
    max-width: 720px;
    margin: 0 auto;
}
.direction-title {
    font-size: 30px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;
}
.direction-lead {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    opacity: 0.9;    
}
.container-text {
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero {
        margin-top: 20px;
        padding: 50px 16px;
    }
    .hero h2{
        font-size: 23px;
    }
    .hero p {
        font-size: 16px;
        line-height: 1.6;
    }
    .header h1 {
        font-size: 28px;
    }
    .nav {
        flex-direction: column;
        gap: 12px;
    }


    body {
        font-size: 16px;
    }
    p {
        font-size: 15px;
        line-height: 1.6;
    }
    .cards {
        flex-direction: column;
        align-items: center; /*keep it mine these small details that dont matter much as its alr centered ig but should be applied for perfection.*/
        gap: 30px;
        padding-bottom: 50px;
    }
    .card {
        max-width: 100%; /*its important to set it at 100% becuase we want the cards to be full sized on the phone*/
        padding: 20px
    }


    .about-text{
        order: 2;
    }
    .about-image {
        order: 1;
    }
    .about-container {
        flex-direction: column;
        display: flex;
        gap: 32px;
        align-items: center;
        
    }
    .about {
        padding: 60px 20px;
    }
    

    .progress-cards {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width: 280px;
    }
}

@media (min-width:768px) {
    .about-container {
        flex-direction: row;
        align-items: center;
    }
    .about-text {
        text-align: left;
    }
}
