body{
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-feature-settings: "smcp", "c2sc";
    font-size: x-large;
    padding: 20px;
}
h{
    color: rgb(241, 5, 44);
    font-size: 36px;
    border-inline: 3px solid;
    border-color: rgb(43, 223, 67);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(5, 241, 25);
}
p{
    font-size: 18px;
    line-height: 1.6;
}
img {
    display: inline-block;
    border:  2px #ff4655;    
    border-radius: 12px;
    padding: 6px;
    width: auto;
    max-width: 500px;   
}
img:hover {
    box-shadow: 0 0 15px white;
    transform: scale(1.03);
    transition: 0.3s ease;
}
.nav img {
    width: 10%;
}


/*.container {
    max-width:800px;
    margin: 0 auto;
    padding: 24px;
    background-color: #020617;
    border-radius: 8px;
}*/

.header {
    display: flex;
    flex-flow: column wrap;
    font-size: 32px;
    letter-spacing: 2px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: px solid rgba(211, 86, 36, 0.83); 
    position: relative;
    font-variant: normal;
    background-image: url(https://images4.alphacoders.com/131/thumbbig-1319447.webp)
}
.header h1 {
    border-block: 2px solid;
    border-width: 3px;
    padding: 5px;
    padding-bottom: 8px;
    
}


.nav {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    opacity: 0.85;
    position: relative; /*used to tell that the positioning of the empty element created in next styling step should be realtive to the elements*/
}

.nav a:hover {
    color: rgb(240, 155, 43);
    opacity: 1;
    transform: scale(1.03);
    transition: 0.3s ease;
    
}
.nav a::after {  /*pseudo-element which creates an empty element at end of each <a>.*/
    content: ""; /*Without content, the pseudo-element does not exist.*/
    position:  absolute; /*positions the created element(wrt to <a> elements in this case as defined in above steps)*/
    width: 0; /*puts the starting width to zero for animation purpose*/
    height: 2px; /*sets the height of the animated line*/
    bottom: -4px; /*moves the line slightly below the elemets(if its positive then it moves up towards the elements)*/
    left: 0; /*starts the created element from the left side*/
    background-color: rgb(240, 155, 43);
    transition: width 0.3s ease; /*when "width" changes it smoothens the transition*/
}
.nav a:hover:after {
    width: 100%; /*used for transition*/
    transform: scale(1);
    transition: 0.3s ease;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    margin-bottom: 4px;   
}